<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <title>TodoList</title>
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div id="root">
    <div class="green"></div>
    <div class="grey"></div>
    <div class="container">
      <div class="left">
        <div class="userPersonal">
          <div>
            <img src="assets/img/avatar_1.jpg" alt="">
            <span>Alessandro</span>
          </div>
          <div id="userIcons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <div class="notification">
          <span><i class="fas fa-bell-slash"></i></span>
          <div>
            <p>Ricevi notifiche di nuovi messaggi</p>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>
        <div class="chatList">
          <div id="searchBox">
            <input type="text" name="" value="">
          </div>
          <div id="userContacts">
            <ul id="userContactList">
              <li class="" v-for="(contatti, index) in contacts" @click="changeContacs(index)">
                <img :src="contatti.avatar" alt="">
                <span class="contactName">{{contatti.name}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="userActive">
          <div v-for="(contacts, index) in contacts" v-if="contacts.visible">
            <img :src="contacts.avatar" alt="">
            <p :class="contacts" class="contactName">{{contacts.name}}</p>
          </div>
          <div id="userActiveIcons">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>

        <div class="chatBox">
          <div  class="flexChat" v-for="(contacts, index) in contacts"
                v-if="contacts.visible">
                  <p  v-for="(messaggi, index) in contacts.messages" :class="messaggi.status=='received' ? 'receivedMessage' : 'sentMessage'">{{messaggi.text}} <p class="dataMessaggio" v-for="(messaggi, index) in contacts.messages" :class="messaggi.status=='received' ? 'receivedMessage' : 'sentMessage'">{{messaggi.date}}</p> </p>


          </div>
        </div>
        <div class="chatInput">
          <i class="far fa-smile"></i>
          <input v-model="newMessage" @keyup.enter="addMessage" type="text" placeholder="Scrivi un messaggio" value="">
          <i class="fas fa-microphone"></i>
        </div>
      </div>
    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script>dayjs().format()</script>
  <script src="./assets/js/main.js"></script>
</body>

</html>
